body {
    background-color: #f1efef;
}

p {
    font-family: 'Roboto';
    color: black;
}

.main-container {
    margin-top: 25%;
}

.header p {
    font-size: 114.286%;
    font-weight: 900;
    line-height: 117.188%;
}

.item-container {
    display: flex;
    position: relative;
    top: 20%;
    height: 104px;
    box-shadow: 4px 4px 4px rgba(173, 173, 168, 0.25);
    border-radius: 8px;
    background-color: #ffffff;
    margin-top: 10px;

}

.item-image {
    position: absolute;
    width: 72px;
    height: 72px;
    left: 18px;
    top: 16px;
    border-bottom-left-radius: inherit;
    border-top-left-radius: inherit;
}

.item-description {
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    font-size: 11px;
}

.item-description p {
    color: black;
    width: 172px;
    height: 19px;
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 11.5px;
    line-height: 14px;
    text-transform: capitalize;
}

.item-price {
    font-weight: 700;
    position: absolute;
    width: 164px;
    height: 18.82px;
    left: 35%;
    top: 69px;
    font-weight: 800;

}

.item-vendor {
    position: absolute;
    width: 54px;
    height: 16px;
    right: 5%;
    bottom: 15%;
}

.disclaimer {
    position: relative;
    padding-top: 10%;
    font-family: 'Roboto';
    height: 28px;
    width: 65%;
    margin: 0 auto;
    border-radius: null;
    font-weight: 700;
    font-size: 12px;
    font-style: normal;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: center;
}